/* Diseases.css */
.diseases-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.disease-info {
  margin: 20px auto;
  width: 80%;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
}

th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
  font-size: 18px;
}

td {
  padding: 8px;
  text-align: left;
}
